body {
    background-color: white; 
    color: #111; 
    font-family: papyrus;
    text-align: center;
    font-size: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.container {
    width: 75%;
    margin: auto;
}

p {
    color: #111; 
}

a.link {
    color: #800;
    text-decoration: none;
}
a.link:hover {
    color: #b00;
    text-decoration: underline;
}

a.button-link {
    background-color: #800;
    color: white;
    padding: 20px 500px;
    border-radius: 15px;
    text-decoration: none;
}

a.button-link:hover {
    background-color: #b00;
}
h1 {
    font-size: 150%;
    text-decoration: underline;
    color: #b00;
}
h2 {
    font-size: 120%;
    text-decoration: underline;
    color: #800;
}
div.title-bar {
    background-color: #400;
    color: white;
    padding: 10px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
a.small-button {
    background-color: #800;
    color: white;
    padding: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
}

a.small-button:hover {
    background-color: #b00;
}
