body {
    background-color: white; 
    color: #111; 
    font-family: papyrus;
    text-align: center;
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 40px;
}

div.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

p {
    color: #111; 
}

a.button-link {
    background-color: #800;
    color: #e66;
    padding: 20px 500px;
    border-radius: 15px;
    text-decoration: none;
    margin: auto;
}

a.button-link:hover {
    background-color: #b00;
}

h1 {
    font-size: 150%;
    text-decoration: underline;
    color: #e66;
}

h2 {
    font-size: 120%;
    text-decoration: underline;
    color: #800;
}

div.title-bar {
    background-color: #400;
    color: white;
    padding: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
