body {
    background-color: #dfd; 
    color: #111; 
    font-family: papyrus;
    text-align: center;
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 40px;
}

div.container {
    width: 95%;
    margin: auto;
}

p {
    color: #111; 
}

/* Character speech colours */
.hero {
    color: #e12;
}

/* Keyword highlights */
.keyGood {
    color:#e12;
}
keyBad {
    color: #21e;
}

h1 {
    font-size: 150%;
    text-decoration: underline;
    color: #e66;
}

h2 {
    font-size: 120%;
    text-decoration: underline;
    color: #800;
}

div.title-bar {
    background-color: #400;
    color: white;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 15px;
}

a.next {
    background-color: #800;
    color: white;
    padding: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

a.next:hover {
    background-color: #b00;
}


